venv/
.idea/
media/
geekshop/__pycache__/
authnapp/__pycache__/
authnapp/migrations/__pycache__/
mainapp/__pycache__/
mainapp/migrations/__pycache__/
ordersapp/__pycache__/
ordersapp/migrations/__pycache__/
adminapp/__pycache__/
adminapp/migrations/__pycache__/
db.sqlite3
