venv/
.idea/
media/
geekshop/__pycache__/
geekshop/.env
users/__pycache__/
users/management/__pycache__/
users/management/commands/__pycache__/
users/migrations/__pycache__/
products/__pycache__/
products/migrations/__pycache__/
baskets/__pycache__/
baskets/migrations/__pycache__/
admins/__pycache__/
admins/migrations/__pycache__/
db.sqlite3
